In [1]:
import pandas as pd
import re

1. Write a function named is_vowel.

It should accept a string as input and use a regular expression to determine if the passed string is a vowel.

While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
def is_vowel(string):
    """
    
    """
    vowel = r'[aeiouAEIOU]'
    if re.search(vowel, string):
        print('Is a vowel')
    else:
        print('NOT a vowel')

In [3]:
is_vowel("g")

NOT a vowel

In [4]:
is_vowel("E")

Is a vowel

In [5]:
is_vowel("A")

Is a vowel

2. Write a function named is_valid_username that accepts a string as input.
- A valid username starts with a lowercase letter, and
only consists of lowercase letters, numbers, or the _ character.

- It should also be no longer than 32 characters.

- The function should return either True or False depending on whether the passed string is a valid username.

is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
False

is_valid_username('codeup')
True

is_valid_username('Codeup')
False

is_valid_username('codeup123')
True

is_valid_username('1codeup')
False

In [10]:
username = r'^[a-z][a-z\d*]{,31}$'
re.search(username, '1codeup')

In [11]:
def is_valid_username(username):
    """
    
    """
    validid = r'^[a-z][a-z\d*]{,31}$'
    if re.search(validid, username):
        return True
    else:
        return False

In [12]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

False

In [13]:
is_valid_username('codeup')

True

In [14]:
is_valid_username('Codeup')

False

In [15]:
is_valid_username('codeup123')

True

In [16]:
is_valid_username('1codeup')

False

3. Write a regular expression to capture phone numbers. It should match all of the following:

- (210) 867 5309
- +1 210.867.5309
- 867-5309
- 210-867-5309

In [17]:
phone = r'.{,3}?\d{,3}?.{,2}?\d{3}.{1}\d{4}$'
re.search(phone, '210-867-5309')

In [18]:
phones = ['(210) 867 5309', 
'+1 210.867.5309', 
'867-5309', 
'210-867-5309', 'tim', '830-12121']

In [19]:
for p in phones:
    if re.search(phone, p):
        print("IS a phone number")
    else:
        print("NOT a phone number")

IS a phone number
IS a phone number
IS a phone number
IS a phone number
NOT a phone number
NOT a phone number

In [25]:
df = pd.DataFrame()
df['number']= ['(210) 867 5309', 
'+1 210.867.5309', 
'867-5309', 
'210-867-5309', 'tim', '830-12121']

In [22]:
'''
^ #starts with
(?P<country_code>\+\d+)? #"\+": escape, looking for literal + "\d+": one or more digit OPTIONAL
\D*? #optional zero or more opposite of numbers
(?P<area_code>\d{3})? #OPTIONAL area code
\D*? #optional zero or more opposite of numbers
(?P<exchange_code>\d{3}) #nxx code
\D*? #optional zero or more opposite of numbers
(?P<nxx_code>\d{4}) #phone number
$
'''

'\n^ #starts with\n(?P<country_code>\\+\\d+)? #"\\+": escape, looking for literal + "\\d+": one or more digit OPTIONAL\n\\D*? #optional zero or more opposite of numbers\n(?P<area_code>\\d{3})? #OPTIONAL area code\n\\D*? #optional zero or more opposite of numbers\n(?P<exchange_code>\\d{3}) #nxx code\n\\D*? #optional zero or more opposite of numbers\n(?P<nxx_code>\\d{4}) #phone number\n$\n'

In [23]:
phone_regex = re.compile(
'''
^ 
(?P<country_code>\+\d+)? 
\D*? 
(?P<area_code>\d{3})? 
\D*? 
(?P<exchange_code>\d{3}) 
\D*? 
(?P<nxx_code>\d{4})
$
''', re.X
)

In [26]:
df['number'].str.extract(phone_regex)

  country_code area_code exchange_code nxx_code
0          NaN       210           867     5309
1           +1       210           867     5309
2          NaN       NaN           867     5309
3          NaN       210           867     5309
4          NaN       NaN           NaN      NaN
5          NaN       NaN           NaN      NaN

In [27]:
pd.concat([df, df['number'].str.extract(phone_regex)], axis=1)

            number country_code area_code exchange_code nxx_code
0   (210) 867 5309          NaN       210           867     5309
1  +1 210.867.5309           +1       210           867     5309
2         867-5309          NaN       NaN           867     5309
3     210-867-5309          NaN       210           867     5309
4              tim          NaN       NaN           NaN      NaN
5        830-12121          NaN       NaN           NaN      NaN

4. Use regular expressions to convert the dates below to the standardized year-month-day format.
- 02/04/19
- 02/05/19
- 02/06/19
- 02/07/19
- 02/08/19
- 02/09/19
- 02/10/19

In [28]:
dates = pd.Series(['02/04/19', 
'02/05/19', 
'02/06/19', 
'02/07/19', 
'02/08/19', 
'02/09/19', 
'02/10/19'])

In [30]:
#YY-MM-DD
dformat = r'(\d{2})/(\d{2})/(\d{2})'
re.sub(dformat, r'\3-\1-\2', '02/04/19')

'19-02-04'

In [31]:
dates.str.replace(dformat, r'\3-\1-\2', regex=True)

0    19-02-04
1    19-02-05
2    19-02-06
3    19-02-07
4    19-02-08
5    19-02-09
6    19-02-10
dtype: object

In [32]:
dlist = ['02/04/19', 
'02/05/19', 
'02/06/19', 
'02/07/19', 
'02/08/19', 
'02/09/19', 
'02/10/19']

In [34]:
date_reg = r'(\d+)/(\d+)/(\d+)'

In [35]:
new_list = []
for date in dlist:
    new_list.append(re.sub(date_reg, r'\3-\1-\2', date))

In [36]:
new_list

['19-02-04',
 '19-02-05',
 '19-02-06',
 '19-02-07',
 '19-02-08',
 '19-02-09',
 '19-02-10']

Write a regex to extract the various parts of these logfile lines:
- GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
- POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
- GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

#### Parts:
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58

- method: GET
- path: /api/v1/sales?page=86
- begins with /, alphanumeric_ and -, one or more char
- timestamp: [16/Apr/2019:193452+0000]
- http version: HTTP/1.1
- status code: {200}
- bytes: 510348
- user agent: "python-requests/2.21.0"
- IP address: 97.105.19.58

In [38]:
lines = """
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
"""

In [49]:
'''
(?P<method>GET|POST)
\s
(?P<path>[/\w\-\?=]+)
\s
\[(?P<timestamp>.+)\]
\s
(?P<http_version>HTTP/\d+\.\d+)
\s
\{(?P<status_code>\d+)\}
\s
(?P<bytes_out>\d+)
\s
"(?P<user_agent>.+)"
\s
(?P<ip_addr>\d+\.\d+\.\d+\.\d+\)
'''

'\n(?P<method>GET|POST)\n\\s\n(?P<path>[/\\w\\-\\?=]+)\n\\s\n\\[(?P<timestamp>.+)\\]\n\\s\n(?P<http_version>HTTP/\\d+\\.\\d+)\n\\s\n\\{(?P<status_code>\\d+)\\}\n\\s\n(?P<bytes_out>\\d+)\n\\s\n"(?P<user_agent>.+)"\n\\s\n(?P<ip_addr>\\d+\\.\\d+\\.\\d+\\.\\d+\\)\n'